# This environment variable is used in Production and Preview environments to deploy your Convex project
# This variable is not needed in development.
# You can create a Production or Preview deploy key at https://dashboard.convex.dev/project/settings#production-deploy-keys
CONVEX_DEPLOY_KEY=

# Playwright (enable Password auth with `npx convex env set E2E_TEST 1`)
E2E_BASE_URL=http://localhost:3100
E2E_EMAIL=
E2E_PASSWORD=
